* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift', sans-serif;
}

body{
    background-color: #F0F0F0;
}

.title{
    font-weight: bold;
    font-size: 40px;
    margin: 20px 20px 20px 30px;
    font-family: "Bakbak One", sans-serif;
    background: -webkit-linear-gradient(#E7473C, #FF9B71);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header{
    display: flex;
    flex-direction: column;
}
nav{
    margin-right: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    background: transparent;
    height: 60px; 
}

nav a{
    text-decoration: none;
    color: black;
    margin: 20px 20px 20px 40px;
    font-weight: bold;
    font-size: 20px;
}

.search-box{
    width: 40px;
    height: 30px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding: 10px 20px;
    background-color: #F0F0F0;
    border-radius: 30px;

    align-items: center;
    transition: width 0.4s;
    box-shadow: 0 10px 25px rgba(151, 150, 150, 0.3);
}

.search-box:hover{
    background-color: aliceblue;
    width: 300px;
}

.search-box input{
    font-size: 16px;
    font-family: 'Bahnschrift', sans-serif;
    color: black;
    margin-left: 10px;
    width: 0;
    outline: none;
    border: none;
    font-weight: normal;
    transition: width 0.4s;
    background: transparent;
    opacity: 0;
}

.search-box:hover input{
    width: 240px;
    opacity: 1;
}

.search-box .material-symbols-outlined{
    align-items: center;
    box-sizing: border-box;
    color: black;
}


nav a:hover{
    color: #E7473C;
}

.article{
    padding: 40px;
    width: 100%;
    overflow: hidden;
}
.article h1{
    font-size: 42px;
    font-family: "Bakbak One", sans-serif;
    color: #E7473C;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article h2{
    font-size: 20px;
    color: #FF9B71;
    font-weight:normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article img{
    min-width: 100%;
    height: 600px;
}

.article p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}


span{
    color: #E7473C;
}

.carousel h3{
    color: #E7473C;
    font-family: "Bakbak One", sans-serif;
    font-size: 28px;
}

.carousel hr{
    border: #FF9B71 solid 4px;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 33.33%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-caption {
    background-color: rgba(231, 76, 60, 0.9);
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.carousel-control.prev {
    left: 0;
}

.carousel-control.next {
    right: 0;
}

#footer{
    background-color: #E7473C;
    min-width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left{
    margin-left: 40px;
}

.footer-right{
    margin-right: 40px;
    gap: 30px;
}

.footer-left p{
    font-size: 20px;
    margin-bottom: 10px;
    color: #F0F0F0;
}

.footer-right p{
    font-size: 20px;

    color: #F0F0F0;
    text-align: center;
}

.social-media{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}



