* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #F0F0F0;
    width: 100%;
}

.title{
    font-weight: bold;
    font-size: 2.5rem;
    margin: 20px 20px 20px 30px;
    font-family: "Bakbak One", sans-serif;
    background: -webkit-linear-gradient(#E7473C, #FF9B71);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header{
    display: flex;
    flex-direction: column;
}
nav{
    margin-right: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding: 0 20px;
    background: transparent;
    height: 60px; 
}

nav a{
    text-decoration: none;
    color: black;
    margin: 20px 20px 20px 40px;
    font-weight: bold;
    font-size: 1.25rem;
}

.search-box{
    width: 40px;
    height: 30px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding: 10px 20px;
    background-color: #F0F0F0;
    border-radius: 30px;

    align-items: center;
    transition: width 0.4s;
    box-shadow: 0 10px 25px rgba(151, 150, 150, 0.3);
}

.search-box:hover{
    background-color: aliceblue;
    width: 300px;
}

.search-box input{
    font-size: 16px;
    font-family: 'Bahnschrift', sans-serif;
    color: black;
    margin-left: 10px;
    width: 0;
    outline: none;
    border: none;
    font-weight: normal;
    transition: width 0.4s;
    background: transparent;
    opacity: 0;
}

.search-box:hover input{
    width: 240px;
    opacity: 1;
}

.search-box .material-symbols-outlined{
    align-items: center;
    box-sizing: border-box;
    color: black;
}

nav a:hover{
    color: #E7473C;
}

.hero img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.separator{
    background-color: #E7473C;
    max-width: 100%;
    padding: 1.25em;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}

.separator h1{
    font-family: "Bakbak One", sans-serif;
    text-align: center;
    background-color: transparent;
    color: #F0F0F0;
    font-size: 2rem;
}

.page-link, .page-link:visited{
    text-decoration: none;
}

#corrupt-cases{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 40px;
    
}

.corrupt-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 40px;
    cursor: pointer;
}

.case{
    display: flex;
    flex-direction: column;
    width: 80%;
    flex: 1;
}

.case-title{
    font-family: "Bakbak One", sans-serif;
    font-size: 1.5rem;
}

.case-inner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.25rem;
}

.case-detail{
    color: #E7473C;
}

.corrupt-rank{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 1.25rem;
    border: 5px solid #E7473C;
    color: #E7473C;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.baca-selengkapnya{
    color: #FF9B71;
    font-weight: bold;
}
.corrupt-list-section{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex: 1;
}

.corruptor-items{
    max-width: 400px;
    max-height: 300px;
    padding: 10px;

}

.corruptor-items img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.corruptor-items img:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border: 0;
}

.corruptor-items p{
    font-family: "Bakbak One", sans-serif;
    text-align: center;
    background-color: transparent;
    margin: 0 ;
}
.corruptor-item-head{
    font-size: 1.75rem;
    color: #E7473C;
}

.corruptor-item-detail{
    font-size: 1.5rem;
    color: #FF9B71;
}

.button-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}
.button-see-more{
    font-size: 1.25rem;
    color: #F0F0F0;
    background-color: #FF9B71;
    border: 0;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    cursor: pointer;
}

.button-see-more img{
    width: 20px;
    height: 20px;
}

.button-see-more:hover{
    background-color: #E7473C;
}

.top-cases-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top-cases{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin: 20px;
    background-color: #E7473C;
    border: 0;
    max-width: 450px;
    border-radius: 10px;
    cursor: pointer;
}


.top-cases-img{
    max-width: 100%;
}

.top-cases-content{
    padding: 10px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 175px;
}

.top-cases-content p{
    background-color: transparent;
    color: #F0F0F0;
    margin: 10px;

}
.top-head{
    font-family: "Bakbak One", sans-serif;
    font-size: 1rem;
}
.top-detail{
    font-size: 0.75rem;
}

.top-content{
    font-size: 13px;
}

.top-cases:hover, .top-cases-rest:hover{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.top-cases-rest{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #E7473C;
    border: 0;
    max-width: 300px;
    border-radius: 10px;
    cursor: pointer;
}
.top-cases-rest .top-cases-content{
    height: 125px;
}
.top-cases-rest .top-head{
    font-size: 0.875rem;
}

#recent-section{
    margin: 40px;
    
}
.recent{
    display: flex;
    gap: 20px;
    padding: 20px;
    
    cursor: pointer;
}

.recent:hover{
    background-color: rgba(0,0,0,0.1);
}
.recent img{
    width: 30%;
    min-height: 30%;
}
.recent-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.recent-title{
    font-family: "Bakbak One", sans-serif;
    font-size: 1.25rem;
}

.recent-detail{
    color: #E7473C;
    font-size: 1rem;
}


#recent-section h1{
    font-family: "Bakbak One", sans-serif;
    margin-bottom: 20px;
    color: #E7473C;
}

#recent-section hr{
    border: 2px solid black;
}

#footer{
    background-color: #E7473C;
    max-width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left{
    margin-left: 40px;
}

.footer-right{
    margin-right: 40px;
    gap: 30px;
}

.footer-left p{
    font-size: 20px;
    margin-bottom: 10px;
    color: #F0F0F0;
}

.footer-right p{
    font-size: 20px;

    color: #F0F0F0;
    text-align: center;
}

.social-media{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
    margin-top: 40px;
    margin-bottom: 100px;
}


.page-number{
    border: 3px solid #FF9B71;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.page-number p{
    align-self: center;
    text-align: center;
    color: #FF9B71;
    font-weight: bold;

    font-size: 24px;
}

#page-active{
    background-color: #FF9B71;
}
#page-active p{
    color: #F0F0F0;
}

@media (max-width: 769px) and (min-height: 426px) {
    nav a{
        font-size: 0.75rem;
    }
    #corrupt-cases{
        display: flex;
        flex-direction: column;
    }
    .top-cases{
        margin: 20px;
    }
    .corrupt-list-section{
        gap: 30px;
    }

    .corruptor-items{
        width: 300px;
        padding: 10px;
    
    }
    
    .corruptor-items img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .corruptor-item-head{
        font-size: 1.25rem;
    }

    .corruptor-item-detail{
        font-size: 1rem;
    }


    .top-cases{
        max-width: 300px;
    }

    .top-cases-content p{
        margin: 5px;
    }

    .case-title{
        font-size: 1.25rem;
    }
    .case-inner{
        font-size: 1rem;
    }

    .corrupt-rank{
        width: 50px;
        height: 50px;
        font-size: 1rem;
        border: 3.5px solid #E7473C;
    }

    .top-cases-content{
        height: 130px;
    }
    .top-cases-rest{
        max-width: 200px;
    }

    .top-head{
        font-size: 0.875rem;
    }
    .top-detail{
        font-size: 0.625rem;
    }
    .top-content{
        font-size: 0.650rem;
    }
    .top-cases-rest .top-cases-content{
        height: 100px;
    }
    .top-cases-rest .top-head{
        font-size: 0.75rem;
    }


    .recent-title{
        font-size: 1rem;
    }
    .recent-detail{
        font-size: 0.75rem;
    }

    .separator h1{
        font-size: 1.75rem;
    }

    .title{
        font-size: 1rem;
    }
    
}

@media (max-width: 426px) {
    .separator h1{
        font-size: 1rem;
    }
    .separator{
        padding: 0.5rem;
    }
    .corrupt-rank{
        width: 40px;
        height: 40px;
        font-size: 0.75rem;
        border: 2px solid #E7473C;
    }
    #corrupt-cases{
        padding: 20px;
    }
    .corrupt-content{gap: 20px;    }

    .case-title{
        font-size: 0.75rem;
    }

    .case-inner{
        font-size: 0.5rem;
    }

    .corrupt-rank{
        width: 35px;
        height: 35px;
        font-size: 0.5rem;
        border: 2px solid #E7473C;
    }

    .corruptor-items{
        width: 150px;
    }
    .button-see-more{
        font-size: 0.75rem;
        
    }
    
    .corruptor-items img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .corruptor-item-head{
        font-size: 0.875rem;
    }

    .corruptor-item-detail{
        font-size: 0.625rem;
    }
    
    .top-cases{
        max-width: 150px;
    }

    .top-cases-content p{
        margin: 5px;
    }

    .top-cases-content{
        height: 130px;
    }

    .top-cases-rest{
        max-width: 100px;
    }

    .top-head{
        font-size: 0.625rem;
    }
    .top-detail{
        font-size: 0.375rem;
    }
    .top-content{
        font-size: 0.425rem;
    }
    .top-cases-rest .top-cases-content{
        height: 70px;
        padding: 3px;
    }
    .top-cases-rest .top-head{
        font-size: 0.375rem;
    }


    .baca-selengkapnya{
        font-size: 0.625rem;
    }
    nav a{
        font-size: 0.5rem;
        margin: 5px 5px 5px 15px;
    }
    .recent-title{
        font-size: 0.625rem;
    }
    .recent-detail{
        font-size: 0.5rem;
    }
    #recent-section hr{
        border: 1px solid black;
    }

    #footer{
        padding: 40px 0;
    }
    
    .footer-left{
        margin-left: 40px;
    }
    
    .footer-right{
        margin-right: 40px;
        gap: 10px;
    }
    
    .footer-left p{
        font-size: 1rem;
        margin-bottom: 10px;
        color: #F0F0F0;
    }

    .footer-left img{
        width: 150px;
        height: 50px;
    }
    
    .footer-right p{
        font-size: 1rem;
    
        color: #F0F0F0;
        text-align: center;
    }
    
    .social-media{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .social-media img{
        width: 1.5rem;
        height: 1.5rem;
    }

    
}
