* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #F0F0F0;
}

.title{
    font-weight: bold;
    font-size: 40px;
    margin: 20px 20px 20px 30px;
    font-family: "Bakbak One", sans-serif;
    background: -webkit-linear-gradient(#E7473C, #FF9B71);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header{
    display: flex;
    flex-direction: column;
}
nav{
    margin-right: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    background: transparent;
    height: 60px; 
}

nav a{
    text-decoration: none;
    color: black;
    margin: 20px 20px 20px 40px;
    font-weight: bold;
    font-size: 20px;
}

.search-box{
    width: 40px;
    height: 30px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding: 10px 20px;
    background-color: #F0F0F0;
    border-radius: 30px;

    align-items: center;
    transition: width 0.4s;
    box-shadow: 0 10px 25px rgba(151, 150, 150, 0.3);
}

.search-box:hover{
    background-color: aliceblue;
    width: 300px;
}

.search-box input{
    font-size: 16px;
    font-family: 'Bahnschrift', sans-serif;
    color: black;
    margin-left: 10px;
    width: 0;
    outline: none;
    border: none;
    font-weight: normal;
    transition: width 0.4s;
    background: transparent;
    opacity: 0;
}

.search-box:hover input{
    width: 240px;
    opacity: 1;
}

.search-box .material-symbols-outlined{
    align-items: center;
    box-sizing: border-box;
    color: black;
}

nav a:hover{
    color: #E7473C;
}

.hero img{
    max-width: 100%;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.separator{
    background-color: #E7473C;
    max-width: 100%;
    padding: 20px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}

.separator h1{
    font-family: "Bakbak One", sans-serif;
    text-align: center;
    background-color: transparent;
    color: #F0F0F0;
}

#corrupt-cases{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.corrupt-content{
    display: flex;
    align-items: baseline;
    margin: 40px;
}

.case{
    display: flex;
    flex-direction: column;
    
}

.case-title{
    font-family: "Bakbak One", sans-serif;
    font-size: 28px;
}

.case-detail{
    font-size: 24px;
    color: #E7473C;
}

.corrupt-rank{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 18px;
    border: 5px solid #E7473C;
    color: #E7473C;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.baca-selengkapnya{
    color: #FF9B71;
    font-size: 24px;
    font-weight: bold;
}
.corrupt-list-section{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.corruptor-items{
    max-width: 400px;
    max-height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;

}

.corruptor-items img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.corruptor-items img:hover{
    width: 220px;
    height: 220px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border: 0;
}

.corruptor-items p{
    font-family: "Bakbak One", sans-serif;
    text-align: center;
    background-color: transparent;
    margin: 0 ;
}
.corruptor-item-head{
    font-size: 30px;
    color: #E7473C;
}

.corruptor-item-detail{
    font-size: 24px;
    color: #FF9B71;
}
.button-see-more{
    font-size: 20px;
    color: #F0F0F0;
    background-color: #FF9B71;
    border: 0;
    border-radius: 10px;
    padding: 20px;
    min-width: 80%;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 60px;
}

.button-see-more img{
    width: 20px;
    height: 20px;
}

.button-see-more:hover{
    background-color: #E7473C;
}

.top-cases-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top-cases{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 40px;
    background-color: #E7473C;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}


.top-cases-img{
    max-width: 500px;
    max-height: 300px;
}

.top-cases-content{
    padding: 10px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    height: 175px;
}

.top-cases-content p{
    background-color: transparent;
    color: #F0F0F0;
    margin: 10px;
    min-width: fit-content;

}
.top-head{
    font-family: "Bakbak One", sans-serif;
    font-size: 16px;
}
.top-detail{
    font-size: 12px;
}

.top-content{
    font-size: 13px;
}

.top-cases:hover{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}



.top-cases-content-rest{
    background-color: #E7473C;
    border: 0;
    border-radius: 10px;
    max-width: 300px;
    padding: 10px;
    cursor: pointer;
}

.top-cases-content-rest p{
    background-color: transparent;
    color: #F0F0F0;
    margin: 5px;
}

.top-cases-img-rest{
    max-width: 300px;
    min-height: 200px;
}

.top-head-rest{
    font-family: "Bakbak One", sans-serif;
    font-size: 14px;
}

.top-detail-rest{
    font-size: 12px; 
}

#recent-section{
    margin: 40px;
    
}
.recent{
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-left: 40px;
    cursor: pointer;
}

.recent:hover{
    background-color: rgba(0,0,0,0.1);
}
.recent img{
    max-width: 200px;
    min-height: 160px;
}
.recent-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recent-title{
    font-family: "Bakbak One", sans-serif;
    font-size: 24px;
}

.recent-detail{
    color: #E7473C;
    font-size: 20px;
}


#recent-section h1{
    font-family: "Bakbak One", sans-serif;
    margin-left: 40px;
    margin-bottom: 20px;
    color: #E7473C;
}

#recent-section hr{
    border: 2px solid black;
    margin-left: 40px;
}

#footer{
    background-color: #E7473C;
    min-width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left{
    margin-left: 40px;
}

.footer-right{
    margin-right: 40px;
    gap: 30px;
}

.footer-left p{
    font-size: 20px;
    margin-bottom: 10px;
    color: #F0F0F0;
}

.footer-right p{
    font-size: 20px;

    color: #F0F0F0;
    text-align: center;
}

.social-media{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
    margin-top: 40px;
    margin-bottom: 100px;
}


.page-number{
    border: 3px solid #FF9B71;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.page-number p{
    align-self: center;
    text-align: center;
    color: #FF9B71;
    font-weight: bold;

    font-size: 24px;
}

#page-active{
    background-color: #FF9B71;
}
#page-active p{
    color: #F0F0F0;
}

@media (max-width: 768px) {
    #corrupt-cases{
        display: flex;
        flex-direction: column;
    }
    .top-cases{
        margin: 20px;
    }
    .corrupt-list-section{
        gap: 30px;
        min-width: 100%;
    }

    .corruptor-items{
        min-width: 100px;
    }

    .corruptor-items img{
        width: 100px;
        height: 100px;
    }

    .corruptor-item-head{
        font-size: 18px;
    }

    .corruptor-item-detail{
        font-size: 12px;
    }

    .top-cases-content{
        max-width: 250px;
        padding: 5px;
    }

    .top-cases-content p{
        margin: 5px;
    }
    .top-cases-img{
         min-width: 200px;
         height: 100px;     
    }
    .top-head{
        font-size: 12px;
    }
    .top-detail{
        font-size: 8px;
    }
    .top-content{
        font-size: 9px;
    }

    .top-head-rest{
        font-size: 10px;
    }

    .top-detail-rest{
        font-size: 8px;
    }

    .top-cases-content-rest{
        max-width: 170px;
        min-height: 8px;
    }
    .top-cases-img-rest{
        max-width: 170px;
        min-height: 80px;
    }

}
