* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift', sans-serif;
}

body{
    background-color: #F0F0F0;
}

.title{
    font-weight: bold;
    font-size: 40px;
    margin: 20px 20px 20px 30px;
    font-family: "Bakbak One", sans-serif;
    background: -webkit-linear-gradient(#E7473C, #FF9B71);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header{
    display: flex;
    flex-direction: column;
}
nav{
    margin: 20px;
}

nav a{
    text-decoration: none;
    color: black;
    margin: 20px 20px 20px 10px;
    font-weight: bold;
    font-size: 20px;
}

.search-box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #F0F0F0;
    border-radius: 30px;

    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.search-box:hover{
    width: 1860px;
    background-color: aliceblue;
}

.search-box input{
    font-size: 16px;
    font-family: 'Bahnschrift', sans-serif;
    color: black;
    margin-right: var(--padding);
    width: 1860px;
    outline: none;
    border: none;
    font-weight: normal;
    transition: 0 0.8;
    background: transparent;
}

.search-box .fa{
    color: black;
    font-size: 12px;
}

nav a:hover{
    color: #E7473C;
}

.hero img{
    max-width: 100%;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.separator{
    background-color: #E7473C;
    max-width: 100%;
    padding: 20px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}

.separator h1{
    font-family: "Bakbak One", sans-serif;
    text-align: center;
    background-color: transparent;
    color: #F0F0F0;
}

#corrupt-cases{
    display: flex;
    flex-direction: column;
}

.corrupt-content{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 40px;
    margin-left: 40px;
}

.case{
    display: flex;
    flex-direction: column;
    
}

.case-title{
    font-family: "Bakbak One", sans-serif;
    font-size: 28px;
}

.case-detail{
    font-size: 24px;
    color: #E7473C;
}

.baca-selengkapnya{
    color: #FF9B71;
    font-size: 24px;
    font-weight: bold;
}
.corrupt-list-section{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.corruptor-items{
    max-width: 400px;
    min-height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;

}

.corruptor-items img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.corruptor-items img:hover{
    width: 220px;
    height: 220px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.corruptor-items p{
    font-family: "Bakbak One", sans-serif;
    text-align: center;
    background-color: transparent;
    margin: 0 ;
}
.corruptor-item-head{
    font-size: 40px;
    color: #E7473C;
}

.corruptor-item-detail{
    font-size: 24px;
    color: #FF9B71;
}
.button-see-more{
    font-size: 20px;
    color: #F0F0F0;
    background-color: #FF9B71;
    border: 0;
    border-radius: 10px;
    padding: 20px;
    min-width: 80%;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 60px;
}

.button-see-more img{
    width: 20px;
    height: 20px;
}

.button-see-more:hover{
    background-color: #E7473C;
}

.top-cases-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top-cases{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 40px;
    background-color: #E7473C;
    border: 0;
    border-radius: 10px;
}


.top-cases-img{
    max-width: 500px;
    max-height: 300px;
}

.top-cases-content{
    padding: 10px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.top-cases-content p{
    background-color: transparent;
    color: #F0F0F0;
    margin: 10px;
}
.top-head{
    font-family: "Bakbak One", sans-serif;
    font-size: 18px;
}
.top-detail{
    font-size: 12px;
}

.top-content{
    font-size: 13px;
}

.top-cases:hover{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.corrupt-rank{
    border-radius: 50%;
    width: 100px;
    height: 70px;
    font-size: 18px;
    border: 5px solid #E7473C;
    color: #E7473C;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.top-cases-content-rest{
    background-color: #E7473C;
    border: 0;
    border-radius: 10px;
    max-width: 300px;
    padding: 10px;
}

.top-cases-content-rest p{
    background-color: transparent;
    color: #F0F0F0;
    margin: 5px;
}

.top-cases-img-rest{
    max-width: 300px;
    min-height: 200px;
}

.top-head-rest{
    font-family: "Bakbak One", sans-serif;
    font-size: 16px;
}

.top-detail-rest{
    font-size: 12px;
}

#recent-section{
    margin: 40px;
    
}
.recent{
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-left: 40px;
    cursor: pointer;
}

.recent:hover{
    background-color: rgba(0,0,0,0.1);
}
.recent img{
    max-width: 200px;
    min-height: 160px;
}
.recent-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recent-title{
    font-family: "Bakbak One", sans-serif;
    font-size: 24px;
}

.recent-detail{
    color: #E7473C;
    font-size: 20px;
}


#recent-section h1{
    font-family: "Bakbak One", sans-serif;
    margin-left: 40px;
    margin-bottom: 20px;
    color: #E7473C;
}

#recent-section hr{
    border: 2px solid black;
    margin-left: 40px;
}

#footer{
    background-color: #E7473C;
    max-width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left{
    margin-left: 40px;
}

.footer-right{
    margin-right: 40px;
    gap: 30px;
}

.footer-left p{
    font-size: 20px;
    margin-bottom: 10px;
    color: #F0F0F0;
}

#footer input{
    width: 400px;
    height: 52px;
    border-radius: 40px;
    background-color: #F0F0F0;
    margin-bottom: 40px;
    border: none;
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

#footer input::placeholder{
    text-align: center;
}

.social-media{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}